.adminnavcontainer {
    background-color: #3bb19b !important;
}
.formOuter1{
    padding : 20px!important ;
    margin-top:5%!important;;
    width:40%;
    height:auto!important;
    border-radius:.5rem!important;
    box-shadow: -1px 2px 15px rgba(0,
    0,
    0,.3)!important;
    background-color: rgba(59, 199, 183, 0.2)!important;
    
}
.admincontainer{
    display: flex;
    justify-content: center;
    align-items:center;
}

.logincontainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
